[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
pyqtgraph = {editable = true,path = "."}
pyibis-ami = {editable = true,path = "./PyAMI"}
pytest = "*"
