# Install with `pip install -r requirements.txt`

# Developer tooling
black
isort
pytest
pytest-cov
pytest-xdist
pylint
pre-commit
mypy
tox

# Documentation Tools
sphinx
myst-parser # For use with sphinx

# Misc. tools
pip-licenses
